body {
    padding: 0;
    margin: 0;
}

/* html, body, #map {
    height: 100%;
    width: 100vw;
} */


.slider {
    position: absolute;
    right: 0;
    top: 99px;
    z-index: 100000;
}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    box-shadow: none;
    display: none;
}

.hide {
    display: none !important;
}

#title {
    text-transform: uppercase;
    font-size: 8.9vw;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 0;
    /* font-weight: 900; */
    /* letter-spacing: -3px; */

}

.margin {
    margin: 2%;
}

::placeholder {
    color: rgb(199, 199, 199);
    /* font-weight: 100; */
    /* font-size: 5.9vw; */

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(199, 199, 199);
}

#inside {
    /* pointer-events: none; */
    width: 100vw;
    margin-top: 0;
    font-family: sans-serif;
    position: absolute;
    z-index: 20000;
    mix-blend-mode: overlay;
}

#button {
    height: 9%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 0;
    filter: invert(1);
    font-size: 5vw;
    color: rgb(66 66 66);
}

#intro {
    position: absolute;
    z-index: 20000;
    width: 100%;
    text-align: center;
    /* align-self: center; */
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-family: sans-serif;
}

.board {
    height: 50%;
    text-align: center;
    font-size: 5vw;
    border: 0px solid;

}

.board:focus {
    outline: 1px solid black;
}

#description {
    /* font-size: 5.9vw; */
    font-size: 5vw;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 0;
    text-align: initial;
    /* font-weight: 100; */
    letter-spacing: -1px;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
    /* filter: drop-shadow(10px 0px 6px rgba(60, 60, 60, 0.01)); */
    filter: invert(1);
}

.leaflet-popup.leaflet-zoom-animated {
    filter: invert(1);
}

.moving {
    animation: mymove 1s;
    animation-fill-mode: forwards;
}

div a img {
    display: none !important;
    opacity: 0 !important;
}

@keyframes mymove {
    from {
        top: -100vh;
    }

    to {
        top: 0vh;
    }
}